<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OutputField0" value="0:OrderId:Number" />
    <add key="OutputField1" value="1,2,3:OrderDate:DateTime" />
    <add key="OutputField2" value="4:ProductId:ProductId" />
    <add key="OutputField3" value="5:ProductName:ProductName" />
    <add key="OutputField4" value="6:Quantity:Quantity" />
    <add key="OutputField5" value=":Unit:KgUnit" />
  </appSettings>
</configuration>