<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- #A# Configuration for the csv file transformation in the syntax format below:
        key name - is outputfieldPosition - so outputField3 - is the 4 th csv position (o index based) in the output row record 
        value - is a ':' delimited string (no escaping of ':' allowed at present ) 
        - the 1st part of the delimited string is the input field indexes
        - 2nd part is the output field name
        - 3rd part is the IFieldTransform class name as used FieldTransformFactory class of the csvTransform project
        
        eg - value="1,2,3:OrderDate:DateTime" indicates input line fields 1,2,3 (0 based) are used to transform those values to a valid date field named 'OrderDate' 
        using DateTimeFieldTransform class
  -->
  <appSettings>
    <add key="OutputField0" value="0:OrderId:Number" />
    <add key="OutputField1" value="1,2,3:OrderDate:DateTime" />
    <add key="OutputField2" value="4:ProductId:ProductId" />
    <add key="OutputField3" value="5:ProductName:ProductName" />
    <add key="OutputField4" value="6:Quantity:Quantity" />
    <add key="OutputField5" value=":Unit:KgUnit" />
  </appSettings>
</configuration>